<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBZW Dorfladen</title>
    
    <script type="text/javascript" src="/Partial_Template/script/script.js"></script>

    <div class="header">
       <h1 class="header"> BBZW Dorfladen</h1> 
    </div>
</head>